<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnimaKu - Anime/Manga Tracker</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/x-icon"
    />

    <!-- Remix Icon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- CSS Stuff -->
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Static JS -->
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <header><%- include('partials/navbar.ejs') %></header>

    <main
      class="mx-auto my-4 w-screen max-w-screen-xl lg:my-12 flex flex-col gap-4"
    >
      <!-- ANIME TITLE & POSTER -->
      <section id="anime-title" class="px-4 pt-2 xl:p-0">
        <div class="anime-title-container flex flex-col md:flex-row gap-4">
          <!-- Poster & Action Button -->
          <div
            class="bg-[#3b4252] p-6 rounded-xl shadow-md flex flex-col gap-4 shrink-0"
          >
            <!-- Title on mobile, hidden when viewport > 768px -->
            <div class="title md:hidden">
              <h1 class="font-semibold text-xl text-[#eceff4]">
                <%= animeTitle.title %>
              </h1>
            </div>

            <!-- Poster Image -->
            <div class="poster">
              <img
                class="aspect-3/4 h-full w-full rounded-md object-cover"
                src="<%= animeTitle.poster %>"
                alt="<%= animeTitle.title %> poster"
              />
            </div>

            <!-- Button Action -->
            <div class="actions">
              <button
                class="self-start rounded-md bg-[#88c0d0] px-4 py-2 font-medium text-[#3b4252] hover:bg-[#94d0e0] transition-colors w-full"
              >
                Add to List
              </button>
            </div>
          </div>

          <!-- Title & Description -->
          <div class="bg-[#3b4252] p-6 rounded-xl shadow-md">
            <!-- Title -->
            <h1 class="font-semibold text-xl text-[#eceff4] max-md:hidden">
              <%= animeTitle.title %>
            </h1>
            <h1 class="font-semibold text-xl text-[#eceff4] md:hidden">
              Description
            </h1>

            <!-- Synopsis -->
            <div
              class="mt-2 text-gray-300 text-sm leading-relaxed text-justify"
            >
              <p
                class="max-h-[20rem] md:max-h-[24rem] overflow-y-auto pr-4 lg:pr-16 scrollbar-thin scrollbar-thumb-[#4c566a] scrollbar-track-[#3b4252]"
              >
                <%- animeTitle.synopsis %>
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- META INFO SECTION -->
      <section id="meta-info" class="px-4 xl:px-0">
        <h2 class="text-xl font-semibold text-[#eceff4] mb-3">Meta Info</h2>
        <div class="bg-[#3b4252] p-6 rounded-xl">
          <div class="grid grid-cols-2 md:grid-cols-3 gap-x-6 gap-y-2 text-sm">
            <!-- Type -->
            <div class="flex flex-col gap-1">
              <p class="text-gray-400">Type:</p>
              <p class="text-[#eceff4]"><%= metaInfo.type.toUpperCase() %></p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">Age Rating:</p>
              <p class="text-[#eceff4]"><%= metaInfo.ageRating %></p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">Episodes:</p>
              <p class="text-[#eceff4]"><%= metaInfo.episode %></p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">Episode Length:</p>
              <p class="text-[#eceff4]"><%= metaInfo.episodeLength %> min</p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">Start Date:</p>
              <p class="text-[#eceff4]"><%= metaInfo.startDate %></p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">End Date:</p>
              <p class="text-[#eceff4]"><%= metaInfo.endDate %></p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">Status:</p>
              <p class="text-[#eceff4]"><%= metaInfo.status %></p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">Average Rating:</p>
              <p class="text-[#eceff4]"><%= metaInfo.avgRating %>%</p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">Rating Rank:</p>
              <p class="text-[#eceff4]">#<%= metaInfo.ratingRank %></p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">User Count:</p>
              <p class="text-[#eceff4]"><%= metaInfo.userCount %></p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">Popularity Rank:</p>
              <p class="text-[#eceff4]">#<%= metaInfo.popularityRank %></p>
            </div>

            <div class="flex flex-col gap-1">
              <p class="text-gray-400">Genres:</p>
              <p class="text-[#eceff4]"><%= metaInfo.genres %></p>
            </div>
          </div>
        </div>
      </section>

      <!-- RELATIONS SECTION -->
      <section id="relation" class="px-4 xl:px-0">
        <h2 class="text-xl font-semibold text-[#eceff4] mb-3">Relations</h2>
        <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
          <!-- Relation Card -->
          <% if (animeRelation && animeRelation.length > 0) {%>
          <%animeRelation.forEach(item => { %>
          <a href="/overview/<%= item.type %>/<%= item.relationId %>">
            <div
              class="bg-[#3b4252] p-4 rounded-xl shadow-md flex items-center gap-4 hover:bg-[#434c5e] transition"
            >
              <img
                src="<%= item.poster %>"
                alt="<%= item.title %> poster"
                class="w-16 h-24 object-cover rounded-md"
              />
              <div>
                <h3 class="text-[#eceff4] font-semibold"><%= item.title %></h3>
                <p class="text-gray-400 text-sm">
                  <%= item.subtype %> – <%= item.role %>
                </p>
              </div>
            </div>
          </a>
          <% }); %>
          <% }; %>
        </div>
      </section>

      <!-- CHARACTER SECTION -->
      <section id="character" class="px-4 xl:px-0">
        <h2 class="text-xl font-semibold text-[#eceff4] mb-3">Character</h2>
        <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
          <!-- Character 1 -->
          <a href="/">
            <div
              class="bg-[#3b4252] p-4 rounded-xl shadow-md flex items-center gap-4 hover:bg-[#434c5e] transition"
            >
              <img
                src="https://media.kitsu.app/character/38506/image/small-e2f62f20c549e3b0701065e874ed3bce.jpeg"
                alt="Attack on Titan: No Regrets"
                class="w-16 h-24 object-cover rounded-md"
              />
              <div>
                <h3 class="text-[#eceff4] font-semibold">Armin Arlert</h3>
                <p class="text-gray-400 text-sm">Main</p>
              </div>
            </div>
          </a>

          <!-- Character 2 -->
          <a href="/">
            <div
              class="bg-[#3b4252] p-4 rounded-xl shadow-md flex items-center gap-4 hover:bg-[#434c5e] transition"
            >
              <img
                src="https://media.kitsu.app/character/38506/image/small-e2f62f20c549e3b0701065e874ed3bce.jpeg"
                alt="Attack on Titan: No Regrets"
                class="w-16 h-24 object-cover rounded-md"
              />
              <div>
                <h3 class="text-[#eceff4] font-semibold">Armin Arlert</h3>
                <p class="text-gray-400 text-sm">Main</p>
              </div>
            </div>
          </a>

          <!-- Character 3 -->
          <a href="/">
            <div
              class="bg-[#3b4252] p-4 rounded-xl shadow-md flex items-center gap-4 hover:bg-[#434c5e] transition"
            >
              <img
                src="https://media.kitsu.app/character/38506/image/small-e2f62f20c549e3b0701065e874ed3bce.jpeg"
                alt="Attack on Titan: No Regrets"
                class="w-16 h-24 object-cover rounded-md"
              />
              <div>
                <h3 class="text-[#eceff4] font-semibold">Armin Arlert</h3>
                <p class="text-gray-400 text-sm">Main</p>
              </div>
            </div>
          </a>
        </div>
      </section>

      <section id="trailer" class="px-4 xl:p-0">
        <div class="bg-[#3b4252] p-4 rounded-xl shadow-md">
          <h2 class="text-xl font-semibold text-[#eceff4] mb-3">🎬 Trailer</h2>

          <div class="aspect-video rounded-lg overflow-hidden">
            <iframe
              class="w-full h-full rounded-lg"
              src="https://www.youtube.com/embed/<%= metaInfo.youtubeId %>"
              title="Attack on Titan Trailer"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
