<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnimaKu - Anime/Manga Tracker</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/x-icon"
    />

    <!-- Remix Icon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- CSS Stuff -->
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Static JS -->
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <header><%- include('partials/navbar.ejs') %></header>

    <main>
      <section
        id="character-detail"
        class="px-4 xl:px-0 mx-auto my-4 lg:my-12 w-screen max-w-screen-xl"
      >
        <div
          class="mx-auto flex flex-col md:flex-row gap-8 text-[#eceff4] bg-[#3b4252] rounded-2xl p-6 shadow-lg"
        >
          <!-- Left: Character Image -->
          <div class="flex-shrink-0 mx-auto md:mx-0">
            <img
              src="<%= characterDetail.image %>"
              alt="Eren Yeager"
              class="w-64 h-80 object-cover rounded-xl shadow-md"
            />
          </div>

          <!-- Right: Character Info -->
          <div class="flex flex-col justify-between flex-1">
            <div>
              <!-- Name -->
              <h1 class="text-2xl md:text-3xl font-bold mb-1">
                <%= characterDetail.canonicalName %>
              </h1>

              <!-- Aliases -->
              <p class="text-sm text-gray-400 italic mb-4">
                <%= characterDetail.ja_jp %>, <%= characterDetail.otherNames %>
              </p>

              <!-- Description -->
              <div
                class="text-gray-300 text-sm leading-relaxed text-justify space-y-3 max-h-[20rem] md:max-h-[24rem] overflow-y-auto pr-4 lg:pr-16 scrollbar-thin scrollbar-thumb-[#4c566a] scrollbar-track-[#3b4252]"
              >
                <% characterDetail.description.forEach(p => { %>
                <p><%= p %></p>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
