<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browse | AnimaKu</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/x-icon"
    />

    <!-- Remix Icon -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- CSS Stuff -->
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Static JS -->
    <script src="/js/navbar.js" defer></script>
    <script src="/js/browse.js" defer></script>
    <script src="/js/modal.js" defer></script>
  </head>
  <body>
    <header><%- include('partials/navbar.ejs') %></header>

    <main>
      <section
        class="w-screen max-w-screen-xl mx-auto my-6 lg:my-12 px-4 xl:px-0 grid grid-cols-1 md:grid-cols-2 gap-6"
      >
        <!-- LEFT PANEL -->
        <div>
          <div class="panel p-6 rounded-xl shadow-md">
            <h2 class="text-2xl font-semibold mb-4 text-[#eceff4]">
              Search Anime / Manga
            </h2>

            <form action="/browse" method="post">
              <!-- Search Input -->
              <div class="mb-4">
                <label class="block text-gray-300 mb-2">Title</label>
                <input
                  type="text"
                  placeholder="Search title..."
                  class="search-input w-full p-3 rounded-md text-white outline-none"
                  name="inputSearch"
                  required
                />
              </div>

              <!-- Dropdown: Category -->
              <div class="mb-4">
                <label class="block text-gray-300 mb-2">Category</label>
                <select
                  id="filter-category"
                  class="dropdown-input w-full p-3 rounded-md text-white outline-none"
                  name="inputCategory"
                >
                  <option value="anime">Anime</option>
                  <option value="manga">Manga</option>
                </select>
              </div>

              <!-- Dropdown: Type -->
              <div class="mb-4">
                <label class="block text-gray-300 mb-2">Type</label>
                <select
                  id="filter-type"
                  class="dropdown-input w-full p-3 rounded-md text-white outline-none"
                  name="inputType"
                >
                  <option value="TV">TV</option>
                  <option value="movie">Movie</option>
                  <option value="OVA">OVA</option>
                  <option value="ONA">ONA</option>
                  <option value="special">Special</option>
                </select>
              </div>

              <!-- Search Button -->
              <button
                class="btn-search w-full transition-colors p-3 rounded-md font-semibold"
                type="submit"
              >
                Search
              </button>
            </form>
          </div>
        </div>

        <!-- RIGHT PANEL -->
        <div class="panel p-6 rounded-xl shadow-md">
          <h2 class="text-2xl font-semibold mb-4 text-white">Results</h2>

          <!-- Card Grid -->
          <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <!-- Card Result -->
            <% if (!searchResult) { %>
            <p class="col-span-3 sm:col-span-2 text-[#eceff4]">
              The search result will be shown here.
            </p>
            <% } else { %>
            <% searchResult.forEach(item => {%>
            <article>
              <a href="/overview/<%= item.type %>/<%= item.id %>">
                <div
                  class="bg-[#1f232c] p-3 rounded-lg shadow hover:scale-105 transition-transform flex flex-col"
                >
                  <div
                    class="w-full aspect-[3/4] overflow-hidden rounded-md mb-2"
                  >
                    <img
                      src="<%= item.cover %>"
                      alt="<%= item.title %> cover image"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <h3 class="text-[#eceff4] font-medium text-sm truncate">
                    <%= item.title %>
                  </h3>
                  <p class="text-gray-400 text-xs">
                    <%= item.subType %> • <%= item.episode %>
                  </p>
                  <p class="text-gray-400 text-xs">
                    Scored: <%= item.rating %>
                  </p>
                </div>
              </a>
            </article>
            <% })} %>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
