<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon" />

	<!-- CSS -->
	<link rel="stylesheet" href="/css/tailwindcss/tailwind.css" />

	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css" rel="stylesheet" />

	<link rel="stylesheet" href="/css/overview.css" />

	<title><%= data.anime?.title || data.manga?.title %> (<%= data.anime?.type || data.manga?.type %>)
		| AnimaKu</title>

	<!-- JS -->
	<script type="module" src="/js/navbar.js" defer></script>
	<script type="module" src="/js/toggleTheme.js" defer></script>
</head>

<body>
	<header><%- include('partials/navbar.ejs') %></header>

	<main>
		<!-- Banner -->
		<section id="banner-section" class="mt-16 md:mt-18 lg:mt-20">
			<div class="-z-10 relative h-[300px] md:h-[400px] overflow-hidden">
				<img src="<%= data.anime?.data?.images?.webp?.large_image_url || data.anime?.data?.images?.webp?.image_url || data.anime?.data?.images?.jpg?.large_image_url ||
							data?.anime?.data?.images?.jpg?.image_url || data.manga?.data?.images?.webp?.large_image_url || data.manga?.data?.images?.webp?.image_url || data.manga?.data?.images?.jpg?.large_image_url || data.manga?.data?.images?.jpg?.image_url || "/images/no-img-placeholder.webp" %>"
						alt="<%= data.anime?.title || data.manga.title %> banner"
						class="absolute inset-0 h-full w-screen object-cover blur-sm scale-110" />

				<!-- Banner Overlay -->
				<div class="absolute inset-0 bg-linear-to-b from-transparent to-(--bg-primary)">
				</div>
			</div>
		</section>

		<!-- Title -->
		<section id="title-section" class="max-w-7xl mx-auto -mt-36">
			<div class="flex flex-col md:flex-row gap-10 px-4">
				<!-- Cover & Add to list btn -->
				<div class="shrink-0 flex flex-col gap-4 items-start md:items-center">
					<img src="<%= data.anime?.data?.images?.webp?.large_image_url || data.anime?.data?.images?.webp?.image_url || data.anime?.data?.images?.jpg?.large_image_url ||
							data?.anime?.data?.images?.jpg?.image_url || data.manga?.data?.images?.webp?.large_image_url || data.manga?.data?.images?.webp?.image_url || data.manga?.data?.images?.jpg?.large_image_url || data.manga?.data?.images?.jpg?.image_url || "/images/no-img-placeholder.webp" %>"
							alt="<%= data.anime?.title || data.manga.title %> cover"
							class="image-poster w-48 md:w-56 rounded-lg shadow-2xl border-2" />


					<% if (user) { %>
					<!-- Hide this button add to list if user not login -->
					<button class="btn-add-to-list w-48 md:w-56 py-2 rounded-md"
							onclick="modalFormList.showModal()">
						<% if (userListAvailable === true) { %>
						<i class="ri-pencil-line"></i>
						<span>Edit your list</span>
						<% } else { %>
						<i class="ri-add-line"></i>
						<span>Add to your list</span>
						<% } %>
					</button>


					<% if (userListAvailable === true) { %>
					<!-- Status if media is already exist in user list -->
					<p class="text-status text-sm text-center opacity-80 w-48 md:w-56">
						Already added to list
					</p>
					<% } %>
					<% } %>

					<% if (!user) { %>
					<!-- Status info for user has not logged in yet -->
					<p class="text-status text-center text-sm opacity-80 w-48 md:w-56">
						You need to login to add this title to your list
					</p>
					<% } %>
				</div>

				<!-- Open the modal using ID.showModal() method -->
				<% if (user) { %>
				<dialog id="modalFormList" class="modal py-62">
					<div class="modal-box rounded-md">
						<form method="dialog">
							<button class="btn-close rounded-full px-1 absolute right-3 top-6 md:top-3">
								<i class="ri-close-line"></i>
							</button>
						</form>
						<h3 class="text-lg font-bold mt-3 md:mt-0 mb-3">Form List
							(<%= userListAvailable === true ? 'Updated' : 'Added' %>)</h3>

						<!-- TODO: need to test the add list form -->
						<!-- Modal Form List -->
						<form id="formList"
								action="<%= userListAvailable === true ? '/my-list/edited' : '/my-list/added' %>"
								method="post">
							<!-- Input Mal id -->
							<input id="inputMalId" name="inputMalId" type="hidden"
									value="<%= data.anime?.mal_id || data.manga?.mal_id %>">

							<!-- Input type -->
							<input type="hidden" name="inputType" id="inputType" value="<%= type %>">

							<!-- Input title (disabled) -->
							<fieldset class="fieldset">
								<legend class="fieldset-legend">Title</legend>
								<input type="text" class="input border rounded-md truncate"
										value="<%= data.anime?.title || data.manga?.title %>" disabled />
							</fieldset>

							<fieldset class="fieldset">
								<legend class="fieldset-legend">Status</legend>
								<select id="selectStatus" name="selectStatus" class="select border rounded-md">
									<% if (type === 'anime') { %>
									<option value="watching"
											<%= userListData?.status === 'watching' ? 'selected' : '' %>>
										Watching
									</option>
									<option
											value="plan-watch <%= userListData?.status === 'plan-watch' ? 'selected' : '' %>">
										Plan to watch
									</option>
									<% } %>

									<% if (type === 'manga') { %>
									<option value="reading"
											<%= userListData?.status === 'reading' ? 'selected' : '' %>>
										Reading
									</option>
									<option value="plan-read"
											<%= userListData?.status === 'plan-read' ? 'selected' : '' %>>
										Plan to read
									</option>
									<% } %>
									<option value="completed"
											<%= userListData?.status === 'completed' ? 'selected' : '' %>>
										Completed
									</option>
									<option value="paused" <%= userListData?.status === 'paused' ? 'selected' : '' %>>
										Paused
									</option>
									<option value="dropped"
											<%= userListData?.status === 'dropped' ? 'selected' : '' %>>
										Dropped
									</option>
								</select>
							</fieldset>

							<!-- Input score -->
							<fieldset class="fieldset">
								<legend class="fieldset-legend">Score</legend>
								<input type="number" name="inputScore" class="input validator border rounded-md"
										placeholder="Type a score between 0 to 10" min="0" max="10"
										title="Value must be number and between 0-10"
										<%= userListData?.score ? 'value=' + userListData.score : '' %> />
							</fieldset>

							<!-- Input episodes -->
							<% if (type === 'anime') { %>
							<fieldset class="fieldset">
								<legend class="fieldset-legend">Episode progress</legend>
								<input type="number" name="inputEpisode" class="input validator border rounded-md"
										placeholder="Type a episodes between 0 to <%= data.anime.data.episodes || 'N/A' %>"
										min="0" <% if (data.anime.data.episodes) { %>
										max="<%= data.anime.data.episodes %>" <% } %>
										title="Value must be a number between 0 to <%= data.anime.data.episodes || 'N/A' %>"
										<%= userListData?.progress_episodes ? 'value=' + userListData.progress_episodes : '' %> />
							</fieldset>
							<% } %>

							<!-- Input chapters and volumes -->
							<% if (type === 'manga') { %>
							<fieldset class="fieldset">
								<legend class="fieldset-legend">Chapter progress</legend>
								<input type="number" name="inputChapter" class="input validator border rounded-md"
										placeholder="Type a episodes between 0 to <%= data.manga.data.chapters || 'N/A' %>"
										min="0" <% if (data.manga.data.chapters) { %>
										max="<%= data.manga.data.chapters %>" <% } %>
										title="Value must be a number between 0 to <%= data.manga.data.chapters || 'N/A' %>"
										<%= userListData?.progress_chapters ? 'value=' + userListData.progress_chapters : '' %> />
							</fieldset>

							<fieldset class="fieldset">
								<legend class="fieldset-legend">Volume progress</legend>
								<input type="number" name="inputVolume" class="input validator border rounded-md"
										placeholder="Type a episodes between 0 to <%= data.manga.data.volumes || 'N/A' %>"
										min="0" <% if (data.manga.data.volumes) { %>
										max="<%= data.manga.data.volumes %>" <% } %>
										title="Value must be a number between 0 to <%= data.manga.data.volumes || 'N/A' %>"
										<%= userListData?.progress_volumes ? 'value=' + userListData.progress_volumes : '' %> />
							</fieldset>
							<% } %>

							<!-- Input start date -->
							<fieldset class="fieldset">
								<legend class="fieldset-legend">Start date</legend>
								<input type="date" name="inputStartDate" class="input border rounded-md"
										value="<%= userListData?.start_date ? userListData.start_date.toISOString().split('T')[0] : '' %>">
							</fieldset>

							<!-- Input end date -->
							<fieldset class="fieldset">
								<legend class="fieldset-legend">Finish date</legend>
								<input type="date" name="inputFinishDate" class="input border rounded-md"
										value="<%= userListData?.finish_date ? userListData.finish_date.toISOString().split('T')[0] : '' %>">
							</fieldset>

							<!-- Input Notes -->
							<fieldset class="fieldset">
								<legend class="fieldset-legend">Notes</legend>
								<textarea name="inputNotes" class="textarea h-24 border rounded-md"
										placeholder="Add a quick note"><%= userListData?.notes ? userListData.notes : '' %></textarea>
							</fieldset>

							<div class="flex gap-4 mt-4 justify-end">
								<!-- Submit Button -->
								<button type="submit"
										class="btn-submit-form-list px-4 py-2 border text-sm font-bold rounded-md">
									Submit
								</button>

								<!-- Delete Button Open Modal Confirm -->
								<% if (user && userListAvailable === true) { %>
								<button type="button"
										class="btn-delete-form-list px-4 py-2 border text-sm font-bold rounded-md"
										onclick="deleteListConfirm.showModal()">
									Delete list
								</button>
								<% } %>
							</div>
						</form>
					</div>

					<form method="dialog" class="modal-backdrop">
						<button>close</button>
					</form>
				</dialog>
				<% } %>

				<!-- Modal Delete List Confirm -->
				<% if (user && userListAvailable === true) { %>
				<dialog id="deleteListConfirm" class="modal">
					<div class="modal-box rounded-md">
						<h3 class="text-lg font-bold">Confirm Delete</h3>
						<p class="py-4">
							This action will remove <%= data.anime?.title || data.manga?.title %>
							(<%= type %>) from your list. Are you sure you want to continue?
						</p>
						<div class="modal-action flex gap-6">
							<!-- Form Delete list -->
							<!-- TODO: need to test the delete list form -->
							<form action="/my-list/deleted" method="post">
								<input type="hidden" name="deleteListMalId"
										value="<%= data.anime?.mal_id || data.manga?.mal_id  %>">
								<input type="hidden" name="deleteListMediaType" value="<%= type %>">
								<button type="submit" class="btn-delete border px-4 py-2 rounded-md">
									Delete List
								</button>
							</form>

							<form method="dialog">
								<!-- if there is a button in form, it will close the modal -->
								<button class="btn-close px-4 py-2 rounded-md">Close</button>
							</form>
						</div>
					</div>
				</dialog>
				<% } %>

				<!-- Title Info -->
				<div class="title-info flex flex-col gap-4">
					<h1 class="text-3xl font-bold leading-tight">
						<%= data.anime?.title || data.manga?.title || "N/A" %>
					</h1>

					<!-- Rating, Type, Status -->
					<div class="flex gap-2 flex-wrap">
						<div class="title-rating flex items-center gap-1 px-3 py-1 rounded-full">
							<i class="ri-star-fill text-sm"></i>
							<p class="text-sm">
								<%= data.anime?.score || data.manga?.score || "N/A" %>
							</p>
						</div>

						<div class="title-type flex items-center gap-1 px-3 py-1 rounded-full">
							<p class="text-sm">
								<%= data.anime?.type || data.manga?.type || "N/A" %>
							</p>
						</div>

						<div class="title-status flex items-center gap-1 px-3 py-1 rounded-full">
							<p class="text-sm">
								<%= data.anime?.status || data.manga?.status || "N/A" %>
							</p>
						</div>

						<% if (type === "anime") { %>
						<div class="title-status flex items-center gap-1 px-3 py-1 rounded-full">
							<p class="text-sm">
								<%= data.anime.data.episodes || "N/A" %> Episodes
							</p>
						</div>
						<% } %>
					</div>

					<!-- Synopsis -->
					<div
							class="max-h-60 md:max-h-68 overflow-y-auto lg:pr-16 scrollbar-thin scrollbar-thumb-[#4c566a] scrollbar-track-[#3b4252] mb-2">
						<p class="title-synopsis mt-2 text-sm leading-relaxed">
							<%- data.synopsis || "No synopsis available for this title." %>
						</p>
					</div>

					<!-- Genres -->
					<div class="title-genres flex flex-col gap-2 mb-2 flex-wrap">
						<h2 class="text-2xl font-bold">Genres</h2>
						<div class="flex gap-2 flex-wrap">
							<% if (type === "anime") { %>
							<% data.anime.data.genres.forEach( genre => { %>
							<div class="genre flex items-center gap-1 px-3 py-1 rounded-full">
								<p class="text-sm"><%= genre.name || "N/A" %></p>
							</div>
							<% }) %>
							<% } else if (type === "manga") {%>
							<% data.manga.data.genres.forEach( genre => { %>
							<div class="genre flex items-center gap-1 px-3 py-1 rounded-full">
								<p class="text-sm"><%= genre.name || "N/A" %></p>
							</div>
							<% }) %>
							<% } else { %>
							<div class="genre flex items-center gap-1 px-3 py-1 rounded-full">
								<p class="text-sm">No genres available</p>
							</div>
							<% } %>
						</div>
					</div>

					<!-- Meta -->
					<div
							class="title-meta-container grid grid-cols-2 md:grid-cols-3 gap-4 p-3 rounded-md shadow-md items-start">
						<% if (type === "anime") { %>
						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Studios</p>
								<p class="text-sm md:text-base">
									<%= data.anime.data.studios.map(studio => studio.name).join(", ") || "N/A" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Source</p>
								<p class="text-sm md:text-base">
									<%= data.anime.data.source || "N/A" %></p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Demographics</p>
								<p class="text-sm md:text-base">
									<%= data.anime.data.demographics.map(demo => demo.name).join(", ") || "N/A" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Seasons</p>
								<p class="text-sm md:text-base">
									<%= data.anime.data.season || "N/A" %>
									<%= data.anime.year || "" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Aired</p>
								<p class="text-sm md:text-base">
									<%= data.anime.data.aired.string || "N/A" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Duration</p>
								<p class="text-sm md:text-base">
									<%= data.anime.data.duration || "N/A" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Rank</p>
								<p class="text-sm md:text-base">
									#<%= data.anime.rank || "N/A" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Popularity</p>
								<p class="text-sm md:text-base">
									#<%= data.anime.popularity || "N/A" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Rating</p>
								<p class="text-sm md:text-base"><%= data.anime.data.rating %>
								</p>
							</div>
						</div>
						<% } else if (type === "manga") { %>
						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Authors</p>
								<p class="text-sm md:text-base">
									<%= data.manga.data.authors.map(author => author.name).join(", ") || "N/A" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Serializations</p>
								<p class="text-sm md:text-base">
									<%= data.manga.data.serializations.map(serial => serial.name).join(", ") || "N/A" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Demographics</p>
								<p class="text-sm md:text-base">
									<%= data.manga.data.demographics.map(demo => demo.name).join(", ") || "N/A" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Published</p>
								<p class="text-sm md:text-base">
									<%= data.manga.data.published.string %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Chapters</p>
								<p class="text-sm md:text-base">
									<%= data.manga.data.chapters || "N/A" %> Chapters
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Volumes</p>
								<p class="text-sm md:text-base">
									<%= data.manga.data.volumes || "N/A" %> Volumes
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Rank</p>
								<p class="text-sm md:text-base">
									#<%= data.manga.data.rank || "N/A" %>
								</p>
							</div>
						</div>

						<div class="title-meta-item flex gap-2 items-center">
							<i class="ri-tv-2-line text-base"></i>
							<div class="flex flex-col">
								<p class="text-sm opacity-75">Popularity</p>
								<p class="text-sm md:text-base">
									#<%= data.manga.data.popularity || "N/A" %></p>
							</div>
						</div>
						<% } %>
					</div>

					<!-- Trailer Section -->
					<% if (type === "anime") { %>
					<section id="trailer-section">
						<div class="trailer-container p-3 md:p-4 lg:p-6 rounded-md shadow-md">
							<h2 class="text-2xl font-bold mb-3">Trailer/PV</h2>

							<div class="aspect-video rounded-lg overflow-hidden">
								<iframe class="w-full h-full rounded-lg"
										src="<%= data.anime.data.trailer.embed_url %>"
										title="<%= data.anime.title %> Trailer" frameborder="0"
										allowfullscreen></iframe>
							</div>
						</div>
					</section>
					<% } %>
				</div>
			</div>
		</section>

		<!-- Character Section -->
		<section id="character-section"
				class="character-container max-w-7xl mx-auto px-4 mt-10 flex flex-col gap-3">
			<h2 class="text-2xl font-bold">Characters</h2>
			<!-- Characters Card -->
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				<% data.character.character_data.forEach(char => { %>
				<a href="/overview/character/<%= char.character.mal_id %>">
					<div class="character-card flex justify-between rounded-md shadow-md">
						<div class="flex gap-4">
							<img src="<%= char.character.images.webp?.image_url || char.character.images.jpg?.image_url || "/images/no-img-placeholder.webp"  %>"
									alt="<%= char.character.name || "character" %> cover"
									class="img-character w-18 h-full object-cover rounded-md" />

							<div class="flex flex-col gap-1 py-3">
								<p class="text-sm">
									<%= char.role || "N/A" %>
								</p>
								<h3 class="font-bold text-base line-clamp-2">
									<%= char.character.name || "N/A" %>
								</h3>
								<% if (type === "anime") { %>
								<p class="text-sm md:text-base line-clamp-2">
									<%= char.voice_actors[0]?.person?.name %>
								</p>
								<% } %>
							</div>
						</div>

						<% if (type === "anime") { %>
						<img src="<%= char.voice_actors[0]?.person?.images?.webp?.image_url || char.voice_actors[0]?.person?.images?.jpg?.image_url || "/images/no-img-placeholder.webp" %>"
								alt="voice actors cover" class="img-voice-actor w-18 h-full object-cover" />
						<% } %>
					</div>
				</a>
				<% }) %>
			</div>
		</section>

		<!-- Relation Section -->
		<section id="relation-section"
				class="relations-container max-w-7xl mx-auto px-4 mt-10 flex flex-col gap-3">
			<h2 class="text-2xl font-bold">Relations</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				<!-- Prequel -->
				<% if (data.relation.prequel && data.relation.prequel.entry) { %>
				<% data.relation.prequel.entry.forEach(rel => { %>
				<a href="/overview/<%= rel.type %>/<%= rel.mal_id %>">
					<div class="relation-card p-3 items-center rounded-md shadow-md">
						<div class="flex flex-col gap-1">
							<p class="text-sm">
								<%= data.relation.prequel.relation %>
							</p>
							<h3 class="font-bold text-base truncate"><%= rel.name %></h3>
						</div>
					</div>
				</a>
				<% }) %>
				<% } else %>

				<!-- Sequel -->
				<% if (data.relation.sequel && data.relation.sequel.entry) { %>
				<% data.relation.sequel.entry.forEach(rel => { %>
				<a href="/overview/<%= rel.type %>/<%= rel.mal_id %>">
					<div class="relation-card p-3 items-center rounded-md shadow-md">
						<div class="flex flex-col gap-1">
							<p class="text-sm">
								<%= data.relation.sequel.relation %>
							</p>
							<h3 class="font-bold text-base truncate"><%= rel.name %></h3>
						</div>
					</div>
				</a>
				<% }) %>
				<% } %>

				<!-- Adaptation -->
				<% if (data.relation.adaptation && data.relation.adaptation.entry) { %>
				<% data.relation.adaptation.entry.forEach(rel => { %>
				<a href="/overview/<%= rel.type %>/<%= rel.mal_id %>">
					<div class="relation-card p-3 items-center rounded-md shadow-md">
						<div class="flex flex-col gap-1">
							<p class="text-sm">
								<%= data.relation.adaptation.relation %>
							</p>
							<h3 class="font-bold text-base truncate"><%= rel.name %></h3>
						</div>
					</div>
				</a>
				<% }) %>
				<% } %>

				<!-- Side Story -->
				<% if (data.relation.side_story && data.relation.side_story.entry) { %>
				<div
						class="side-story-container col-span-1 md:col-span-2 lg:col-span-3 flex flex-col md:flex-row gap-2 p-3 rounded-md shadow-md">
					<p class="text-base shrink-0">Side Story:</p>
					<div class="flex flex-col gap-3">
						<% data.relation.side_story.entry.forEach(rel => { %>
						<a href="/overview/<%= rel.type %>/<%= rel.mal_id %>" class="text-base underline">
							<%= rel.name %>
						</a>
						<% }) %>
					</div>
				</div>
				<% } %>
			</div>
		</section>

		<!-- Soundtrack Section -->
		<% if (type === "anime") { %>
		<% if (data.themes) { %>
		<section id="soundtrack-section" class="max-w-7xl mx-auto px-4 my-10">
			<div class="soundtrack-container border p-3 md:p-4 lg:p-6 rounded-md shadow-md">
				<h2 class="text-2xl font-bold mb-6">Soundtracks</h2>

				<!-- Openings -->
				<% if (data.themes.opening.length > 0) { %>
				<div class="opening-container mb-6">
					<div class="flex items-center gap-2 mb-5">
						<i class="ri-music-2-line text-lg"></i>
						<h3 class="text-lg font-medium">Openings</h3>
					</div>

					<div class="flex flex-col gap-4 pl-7 pr-4">
						<!-- Item -->
						<% data.themes.opening.forEach(opening => { %>
						<div class="flex justify-between items-center rounded-lg flex-wrap">
							<div>
								<p class="soundtrack-title font-bold"><%= opening.title %></p>
								<p class="soundtrack-by text-sm">By <%= opening.singer %></p>
							</div>
							<span class="soundtrack-eps text-xs font-bold px-2 py-1 rounded-full shrink-0">
								EPS <%= opening.episodes %>
							</span>
						</div>
						<% }) %>
					</div>
				</div>
				<% } %>

				<!-- Openings -->
				<% if (data.themes.ending.length > 0) { %>
				<div class="opening-container mb-6">
					<div class="flex items-center gap-2 mb-5">
						<i class="ri-music-2-line text-lg"></i>
						<h3 class="text-lg font-medium">Endings</h3>
					</div>

					<div class="flex flex-col gap-4 pl-7 pr-4">
						<!-- Item -->
						<% data.themes.ending.forEach(opening => { %>
						<div class="flex justify-between items-center rounded-lg gap-3 flex-wrap">
							<div>
								<p class="soundtrack-title font-bold"><%= opening.title %></p>
								<p class="soundtrack-by text-sm">By <%= opening.singer %></p>
							</div>
							<span class="soundtrack-eps text-xs font-bold px-2 py-1 rounded-full shrink-0">
								EPS <%= opening.episodes %>
							</span>
						</div>
						<% }) %>
					</div>
				</div>
				<% } %>
			</div>
		</section>
		<% } %>
		<% } %>

		<!-- Recommendation Section -->
		<section id="recommendation-section"
				class="recommendation-container max-w-7xl mx-auto px-4 my-10 flex flex-col gap-3">
			<h2 class="text-2xl font-bold">Recommendation</h2>
			<!-- List Recommendation -->
			<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
				<% data.recommendation.recommendation_data.forEach(title => { %>
				<a href="/overview/<%= type %>/<%= title.entry.mal_id %>">
					<div
							class="title-card group flex flex-col rounded-md overflow-hidden transition-all duration-300">
						<!-- Image container -->
						<div class="relative aspect-3/4 overflow-hidden">
							<img src="<%= title.entry.images?.webp?.image_url || title.entry.images?.jpg?.image_url || "/images/no-img-placeholder.webp"  %>"
									alt="<%= title.entry.title %> cover"
									class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-110" />

							<div
									class="absolute top-2 right-2 rounded-md px-2 py-1 text-xs font-semibold bg-float">
								<span>
									<%= title.votes %> Votes
								</span>
							</div>
						</div>

						<div class="px-2 py-3">
							<h3 class="text-sm font-bold line-clamp-1 tooltip tooltip-right">
								<%= title.entry.title %>
							</h3>
						</div>
					</div>
				</a>
				<% }) %>
			</div>
		</section>
	</main>
</body>

</html>
